.father {
    border: 5px solid black;
    width: 82%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 15px;
    row-gap: 15px;
    padding: 20px;
    height: auto;
}
.dropbtn{
    display: none;
}
.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.child {
    background-color: silver;
    border: 3px solid black;
}

.header > .child {
    width: 150px;
    height: 50px;
}

.menu {
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    height: 500px;
}

.content {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 8;
    column-gap: 20px;
    row-gap: 20px;
}

.menu > .a {
    width: 100%;
    height: 50px;
}

.maine {
    width: 100%;
    height: 400px;
}

.s {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 8;
    column-gap: 20px;
    row-gap: 20px;
}

.s > .b {
    flex-grow: 1;
    height: 100px;
}

.five {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
    width: 77%;

}

.six {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    column-gap: 20px;
    row-gap: 20px;
}

.sixx, .ccc {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 20px;
}

.c, .cq {
    width: 100%;
    height: 100px;
}

.five > .w {
    flex-basis: 45%;
    height: 120px;
}

.end {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    column-gap: 20px;
    row-gap: 20px;
}

.endOne {
    width: 100%;
    height: 50px;
}

.endTwo {
    width: 40%;
    height: 50px;

}


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {


.dropbtn{
    display: block;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .menu {
        display: none;
        position: absolute;
        right: 0;
        background-color:white;
        min-width: 160px;
        z-index: 1;

}
    .menu .a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .menu .a:hover {background-color: #f1f1f1;}
    .dropdown:hover .menu {display: block;}
    .dropdown:hover .dropbtn {background-color: #3e8e41;}
    .s {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 8;
        column-gap: 20px;
        row-gap: 20px;
    }

    .s > .b {
        flex-basis: 35%;
        height: 100px;
    }

    .five {
        flex-basis: 100%;
    }

    .six {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    .sixx, .ccc {
        width: 48%;
    }

    .c {
        width: 100%;
        height: 100px;
    }

    .ccc > .cc {
        width: 100%;
        height: auto;
    }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 767px) {
    .dropbtn{
        display: block;
        border: none;
        cursor: pointer;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .menu {
        display: none;
        position: absolute;
        right: 0;
        background-color:white;
        min-width: 160px;
        z-index: 1;

    }
    .menu .a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .menu .a:hover {background-color: #f1f1f1;}
    .dropdown:hover .menu {display: block;}
    .dropdown:hover .dropbtn {background-color: #3e8e41;}
    .header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 20px;
        row-gap: 20px;
    }

    .header > .two {
        width: 100%;
    }

    .s {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-grow: 8;
        column-gap: 20px;
        row-gap: 20px;
    }

    .s > .b {
        flex-basis: 35%;
        height: 100px;
    }

    .five {
        flex-basis: 100%;
    }

    .five > .w {
        flex-basis: 100%;
        height: 50px;
    }

    .five > .ww {
        flex-basis: 30%;
    }

    .six {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        height: auto;
    }

    .sixx, .ccc {
        width: 100%;
    }

    .c {
        width: 100%;
        height: 50px;
    }

    .ccc > .cc {
        width: 100%;

    }

    .cq {
        height: 300px;
    }
}